.card-intro:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f5d254;
  color: #fff;
  transform: translateY(-5%) !important;
  transform: scale(1.2) !important;
  transition: 0.2 !important;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-product-card {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}
.img-product-card {
  transition: transform 0.5s ease-in-out;
}

.img-product-card:hover {
  transform: scale(1.4);
}

.image-container {
  overflow: hidden;
  border-radius: 4px;
}
