.card-intro:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f5d254;
  color: #fff;
  transform: translateY(-5%) !important;
  transform: scale(1.2) !important;
  transition: 0.6 !important;
}
@media (min-width: 600px) {
  .css-py8vk4-MuiContainer-root {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.bg-box1 {
  position: relative;
  background-image: url("https://routine.vn/media/amasty/amoptmobile/wysiwyg/Polo_Premium_jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  overflow: hidden;
}
.bg-box2 {
  position: relative;
  background-image: url("https://routine.vn/media/amasty/amoptmobile/wysiwyg/Active_wear_jpg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
  overflow: hidden;
}
