.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
/* pagination.css */

.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.pagination li {
  display: inline;
  margin: 0 0.25rem;
}

.pagination a {
  display: inline-block;
  padding: 0.5rem 0.75rem;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-decoration: none;
  color: #007bff;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: #007bff;
  color: #fff;
}

.pagination .active a {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}
.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 500ms, transform 500ms;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-product-card {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}
.img-product-card {
  transition: transform 0.5s ease-in-out;
}

.img-product-card:hover {
  transform: scale(1.4);
}

.image-container {
  overflow: hidden;
  border-radius: 4px;
}
